#title{
    color: #ffffff;
}

ion-toolbar{
    background-color: var(--ion-color-mainanx);
}

.cal{
    width: 100vw;
    max-width: 450px
}

.c-item{
    margin-top: 10px;
    margin-bottom: 20px;
}