<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button id="title"></ion-menu-button>
    </ion-buttons>
    <ion-title id="title">
      Calendario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-datetime class="cal" color="primary" presentation="date" [(ngModel)]="date" (ngModelChange)="date = date.slice(0,10)"></ion-datetime>
  <ion-card>
    <ion-card-header>
      <ion-card-title >
        {{date}}
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item lines="full" class="c-item">
          <ion-label>Tiempo en la app</ion-label>
          <ion-label color="medium" slot="end">-</ion-label>
        </ion-item>
  
        <ion-item lines="full" class="c-item">
          <ion-label>Ingresos a la app</ion-label>
          <ion-label color="medium" slot="end">-</ion-label>
        </ion-item>
  
        <ion-item lines="full" class="c-item">
          <ion-label>Ataques</ion-label>
          <ion-label color="medium" slot="end">-</ion-label>
        </ion-item>
  
        <ion-item lines="full" class="c-item">
          <ion-label>Actividades</ion-label>
          <ion-label color="medium" slot="end">-</ion-label>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
