<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button id="title"></ion-menu-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end" >
      <ion-icon size="large" name="settings-outline"></ion-icon>
    </ion-buttons> -->
    <ion-title id="title">
      Mi Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <h1>
      Mi Perfil
    </h1>
  </ion-header>
  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input value="Gonzalo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Apellido</ion-label>
    <ion-input value="Heredia"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Fecha de Nacimiento</ion-label>
    <ion-input value="26/02/2001"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">E-Mail</ion-label>
    <ion-input value="gonzalo.heredia@anxiolin.com" [disabled]="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Pais</ion-label>
    <ion-select placeholder="Seleccione un país">
      <ion-select-option value="Arg">Argentina</ion-select-option>
      <ion-select-option value="Uru">Uruguay</ion-select-option>
      <ion-select-option value="Per">Perú</ion-select-option>
      <ion-select-option value="Par">Paraguay</ion-select-option>
      <ion-select-option value="Chi">Chile</ion-select-option>
      <ion-select-option value="Bol">Bolivia</ion-select-option>
      <ion-select-option value="Ven">Venezuela</ion-select-option>
      <ion-select-option value="Col">Colombia</ion-select-option>
      <ion-select-option value="Ecu">Ecuador</ion-select-option>
    </ion-select>
  </ion-item>
  <div class="container">
    <ion-item button class="change-pass" id="open-modal">
      <ion-label color="tertiary">Cambiar contraseña</ion-label>
      <ion-modal trigger="open-modal">
        <ng-template>
          <ion-header>
            <ion-toolbar color="primary">
              <ion-buttons slot="start">
                <ion-button href="/tabs/profiletab">Volver</ion-button>
              </ion-buttons>
              <ion-buttons slot="end">
                <ion-button href="/tabs/profiletab">Confimar</ion-button>
              </ion-buttons>
              <ion-title>Cambiar Contraseña</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <ion-item>
              <ion-label position="floating">Contraseña anterior</ion-label>
              <ion-input type="password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Nueva contraseña</ion-label>
              <ion-input type="password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Repetir nueva contraseña</ion-label>
              <ion-input type="password"></ion-input>
            </ion-item>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-item>
  
    <ion-item button detail="false" class="close-session" href="">
      <ion-label color="danger">Cerrar sesión</ion-label>
      <ion-icon color="danger" name="close-circle-outline" slot="end"></ion-icon>
    </ion-item>
  </div>
</ion-content>
