#title{
    color: #ffffff;
}

h1{
    margin-left:3%;
}

.container{
    padding-top: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.change-pass{
    --min-height: 50px;
}

.close-session{
    margin-top: 20px;
    --min-height: 50px;
}