<ion-app>
  <ion-split-pane contentId="main-content" when="false">
    <ion-menu class="custom-menu" side="start" contentId="main-content">
      <ion-content>
        <ion-list class="menu-list" no-padding>
          <ion-menu-toggle autoHide="false" *ngFor="let p of appMenu" class="menu-toggle-item">
            <ion-item [routerLink]="p.url" routerDirection="forward">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
</ion-app>
