<ion-content class="background">
    <div class="container">
        <ion-img class="logo" src="/./assets/images/LogoSinFondo.png"></ion-img>
        <div class="container">
            <ion-img class="letra" src="/./assets/images/AnxiolinLetra2.png"></ion-img>     
        </div>
            
    </div>
    <div class="botones">
        <div class="container-but container">
            <ion-button size= "large" class="btn" shape= "round" routerLink="/login" routerDirection="root" expand="block">Iniciar sesión</ion-button>
            <ion-button size= "large" class="btn" shape= "round" routerLink="/register" routerDirection="root" expand="block">Registrarse</ion-button>
        </div>
    </div>
</ion-content>